.content
{
    max-width: 960px;
    margin: auto;
}

body
{
    background-color: #393838;
    font-family: Arial;
    --main-bg-color: black;
    --main-text-color: white;
    align-items: center;
}

h1
{
    font-size:64px;
    text-transform: uppercase;
    color: white;
}
.txt
{
    display: table-header-group;
    color: var(--main-bg-color);
    background-color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    margin: 3px;
    width: 35%;
}
.btn ,.txtBx
{
    background: transparent;
    color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    width: 35%;
    letter-spacing: 2px;
    padding: 10px 10px;
    cursor: pointer;
    display: flex;
    margin: 3px;
    text-align:center;
}

.flex-container
{
    background: transparent;
    color: var(--main-text-color);
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid var(--main-text-color);
    display: flex;
}

.flex-child:first-child {
    margin-right: 20px;
    display: flex;
}